@mixin squareImg($size: 56px) {
    width: $size;
    height: $size;

    &__info {
        width: 100%;
        height: 100%;
    }
}

.pk-list {
    background-color: $color-grey-5;
    @include hairline-top-bottom();

    /* elements */
    &__item-container {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);

        .item-icon {
            align-self: flex-start;
            margin-right: $space-min;
        }
    }

    &__item {
        padding: 32px $space-normal;
        position: relative;
        box-sizing: border-box;
        color: $pk-list-text-color;
        font-size: $font-size-xl;
        line-height: $line-height-base;
        @include active;
        @include hairline-bottom-relative($left: $space-base);

        &--thumb {
            .item-thumb {
                align-self: flex-start;
                margin-right: $space-min;
                @include squareImg($pk-list-thumb-size);
            }
        }

        &--disabled {
            .pk-list__item-container {
                opacity: 1;
            }

            &:active {
                background-color: transparent !important;
            }
        }

        &--no-border::after {
            content: initial;
            border: none;
        }

        .item-content {
            &.hasCustom {
                @include display-flex;
                @include align-items(center);
            }
            &__custom {
                @include display-flex;
                @include align-items(center);
                margin-left: 70px;
            }
            &__info {
                &-title {
                    color: inherit;
                    font-size: inherit;
                    line-height: $pk-list-title-line-height;
                }

                &-note {
                    color: $color-grey-0;
                    font-size: $font-size-s;
                    line-height: $line-height-base;
                }
            }
        }

        .item-extra {
            @include display-flex;
            @include align-items(center);

            &__info {
                @include line(1);

                max-width: 100%;
                color: $color-grey-0;
                font-size: $font-size-l;
                vertical-align: middle;
                box-sizing: border-box;
            }

            // &__icon {
            //   margin-right: -12px;

            //   &-arrow {
            //     color: $pk-list-arrow-color;
            //     font-size: 48px;
            //   }
            // }

            &__icon {
                @include flex-center-mode;

                &-arrow {
                    margin-left: 24px;
                    color: $pk-list-arrow-color;
                    font-size: 48px;
                }
                // margin-left: $space-base;
                // margin-right: -$space-base;
            }

            &__switch {
                vertical-align: middle;
            }

            &__image {
                @include squareImg($pk-list-thumb-size);

                vertical-align: middle;
                margin-right: 30px;

                &-info {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__item-content {
        @include flex(1);

        overflow: hidden;
        margin-right: 40px;
    }

    &__item-extra {
        // @include flex(0, 0, $pk-list-extra-width);

        max-width: $pk-list-extra-width;
        text-align: right;
    }

    /* modifiers */
    &--no-border {
        &::after,
        &::before {
            content: initial;
            border: none;
        }
    }
}
