@mixin line($num: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if ($num == 1) {
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      -webkit-line-clamp: $num;

      /* autoprefixer: off */
      -webkit-box-orient: vertical;
    }
}

.pk-notice {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 0;

    &--default {
        color:  $color-theme-main;
        background:  $color-red-5;
        .pk-icon {
            color: $color-theme-main!important;
        }
    }

    &--info {
        color:$color-info;
        background-color: #e3ebf5;
        .pk-icon {
            color:$color-info!important;
        }
    }

    &--warn {
        color: $color-error;
        background-color: $color-red-5;
        .pk-icon {
            color: $color-error!important;
        }
    }

    &--success {
        color: $color-success;
        background-color: #cff3e5;
        .pk-icon {
            color: $color-success!important;
        }
    }

  /* elements */
    &__content {
        flex: 1;
        line-height: 1.5;
        word-break: break-all;
        word-wrap: break-word;

        &-icon {
            display: inline-block;
            margin-right: 12px;
            vertical-align: top;
            line-height: 36px;
            .pk-icon {
                font-size: 20px;
            }
        }

        &-text {
            display: inline;
            font-size: 24px;
        }

        &-inner {
            display: inline;
        }
    }

    &__close {
        line-height: 36px;
        margin-right: 12px;
        align-self: flex-start;

        .pk-icon {
            font-size: 20px;
        }
    }

    &__action {
        width: auto;
        color: #999;
        font-size: 0;
        margin-left: 12px;

        .text {
            font-size: 24px;
            line-height: 1.5;
            vertical-align: middle;
        }

        &-icon {
            display: inline-block;
            width: 24px;
            vertical-align: middle;
            overflow: hidden;

            .pk-icon {
                font-size: 24px;
            }
        }
    }

    /* modifiers */
    &--single {
        display: flex;
        justify-content: space-between;

        .pk-notice__close {
            align-self: center;
        }

        .pk-notice__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;

            &-text {
                display: flex;
                overflow: hidden;
            }

            &-inner {
                flex: 1;
                @include line(1);
            }
        }
    }

    &--scroll {
        .pk-notice__close {
            align-self: center;
        }

        .pk-notice__content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow: hidden;

            &-text {
                flex: 1;
                overflow: hidden;
            }

            &-inner {
                display: inline-block;
                white-space: nowrap;
                padding-left: 100%;
                height: 24px * 1.5;
                animation: scroll 1s linear infinite both;
                transform: translateZ(0);
            }
        }
    }

    &--action {
        .pk-notice__content {
            max-width: 525px;
        }
    }

    &--weapp {
        .pk-notice__content-inner {
            animation: none;
        }
    }
}

@keyframes scroll {
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
