.pk-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-black-3;
    z-index: $zIndex-overlay;
    &-show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s, visibility 0.4s;
    }
    &-hide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0.4s;
    }
}
