.radio-example {
    height: 100vh;
    background-color: #f0f0f0;

    .radio-example-container {
        background-color: #fff;
    }
}

.title {
    font-size: 64px;
    font-weight: bold;
    padding-left: 32px;
    background-color: #fff;
}
