.stepsExample {
    .showCom {
        background: #fcfcfc;
    }
    .container {
        display: flex;
        align-items: center;
        background: #fff;
        View {
            margin-right: 20px;
        }
    }
}